<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title>404</title> 
        <style> a{ font-style: italic;}</style>
    </head>

    <body>
        <h1>Page introuvable!</h1>
        <p><a href="./chat">Retourner sur le chat</a></p>

    </body>
</html>